<h1>Your Suggestions!</h1>




<table>
		<%= @yelp_business_names.each_with_index do |business, index|%>
	<tr>
		<td>
			<%= link_to business.name, business.url %>
			<%= index %>
		</td>
		<td>
			<iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
		</td>
	</tr>
	<%end%>
</table>
<br><br>
